.BtnAjoutRessource {
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 150%;
    box-shadow: 0 3px 3px grey;
    cursor: pointer;
    bottom: 30px;
    right: 30px;
}