article {
    width: 300px;
}

ul {
    list-style-type: none;
    // display: inline-block;
    // align-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dossier img {
    margin-right: 4px;
}

// .info {
//     background-color: purple;
// }

h2 {
    margin: 0;
}

p {
    margin: 0;
}